html {
    max-width: 1280px;
    width: 100%;
}
.nav {
    text-align: center;
    padding: 26px 0;
    margin: 0 auto;
}
.nav li {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.7px;
}
.nav a {
    text-decoration: none;
    color: #ff0000;  
}
.photoapp, .design {
    margin-left: 72px;
}
.download {
    margin-left: 50px;
}
.main {
    text-align: center;
}
.img {
    width: 100%;
    height: 789px;
}
.h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin: 49px 253px 38px 253px;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
    letter-spacing: 3.3px;
}
.main p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.4px;
}
.first-paragraph {
    margin: 0 68px;
}
.second-paragraph {
    margin: 28px 68px 0 68px;
}
.btn {
    width: 190px;
    height: 50px;
    border-radius: 4px;
    background-color: #ff0000;
    margin: 66px auto 82px auto;
}

.btn a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding: 18px 43px 17px 43px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.8px;
}
.footer {
    text-align: right;
    margin: 0 105px 29px 713px;
}
.footer p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.4px;
}